[{:itonami.blueprint/social-impact [:aquaculture-viability :sustainable-fisheries :knowledge-preservation], :itonami.blueprint/domain :agriculture/aquaculture-management, :itonami.blueprint/required-technologies [:robotics :identity :forms :dmn :bpmn :audit-ledger], :itonami.blueprint/isco-08 "1312", :itonami.blueprint/name "Aquaculture and Fisheries Production Manager", :itonami.blueprint/governor :aquaculture-management-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-1312", :itonami.blueprint/license "AGPL-3.0-or-later"}]
